@page "/cashier_console"

<h3>Cashier's Console</h3>
<br />
<div class="row">
    <div class="col-4">
        <SelectProductForSelling OnProductSelected="SelectProduct"></SelectProductForSelling>
        <br />
        <SellProductComponent SelectedProduct="selectProduct" OnProductSold="SellProduct"></SellProductComponent>
    </div>
    <div class="col">
    </div>
</div>

@code{
    private Product selectProduct;

    private void SelectProduct(Product product)
    {
        selectProduct = product;
    }
    private void SellProduct(Product product)
    {

    }
}