@page "/cashier_console"

<h3>Cashier's Console</h3>
<br />
<div class="form-group">
    <label for="cashier">Cashier Name:</label>
    <input type="text" id="cashier" class="form-control" @bind-value="cashierName" />
</div>
<br />
<div class="row">
    <div class="col-4">
        <SelectProductForSelling OnProductSelected="SelectProduct"></SelectProductForSelling>
        <br />
        <SellProductComponent 
                              CashierName="@cashierName"
                              SelectedProduct="selectProduct" 
                              OnProductSold="SellProduct"></SellProductComponent>
    </div>
    <div class="col">
    </div>
</div>

@code{
    private Product selectProduct;
    private string cashierName;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void SelectProduct(Product product)
    {
        selectProduct = product;
    }
    private void SellProduct(Product product)
    {

    }
}